.card {
    margin-top: 30px;
    margin-left: 60px;
    max-width: 900px;
    min-height: 100px;
    padding: 10px 20px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color:  #1d2027;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 25px;
    color: beige;
    font-family: Roboto Mono;
}

.input {
    height: 30px;
    background-color: #282c34;
    display: block;
    font-family: Roboto Mono;
    border-radius: 10px;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    font-size: large;
    border: none;
    color: white;
}

.button {
    height: 40px;
    background-color:  #61DBFB;
    color: #1d2027;
    
}

.button:hover {
    background-color: rgb(14, 14, 22);
    color:blanchedalmond;
    cursor: pointer;
}

